#AllSuburbsComponent .suburb-card {
  width: 200px;
  height: 150px; }

#AllSuburbsComponent .img-container {
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: gray; }

#AllSuburbsComponent .img-container-empty {
  text-align: center;
  line-height: 4em;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: gray; }

#AllSuburbsComponent .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all .2s ease-in-out; }
  #AllSuburbsComponent .img-container img:hover {
    transform: scale(1.1); }

#AllSuburbsComponent .sortable-section-container {
  width: 100%;
  text-align: right;
  padding: 10px 0; }

#AllSuburbsComponent .react-select {
  display: inline-block;
  font-size: inherit;
  clear: both;
  top: 0;
  color: black;
  text-align: center;
  cursor: pointer; }
  #AllSuburbsComponent .react-select input {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    color: black !important;
    padding: 0px; }
  #AllSuburbsComponent .react-select.is-focused .Select-control .Select-placeholder {
    color: black;
    cursor: pointer !important; }
  #AllSuburbsComponent .react-select.is-open .Select-value-label {
    color: transparent !important; }
  #AllSuburbsComponent .react-select .Select-control {
    box-shadow: none !important;
    color: black; }
    #AllSuburbsComponent .react-select .Select-control .Select-value-label {
      color: black !important; }
  #AllSuburbsComponent .react-select .Select-placeholder {
    color: black;
    cursor: pointer !important; }

.filter-text-container {
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 70px; }
  .filter-text-container .filter-text {
    position: absolute;
    bottom: 0;
    height: 36px;
    padding: 8px 5px;
    left: 0; }
