.suburb-card{
	width:200px;
	height:150px;
}

.img-container{
	height:200px;
	display: block;
    position: relative;
    overflow: hidden;
    background-color:gray;
}

.img-container-empty{
	text-align: center;
	line-height: 4em;
	height:200px;
	display: block;
    position: relative;
    overflow: hidden;
    background-color:gray;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
}