#HomeComponent {
  /* Thin out the marketing headings */ }
  #HomeComponent div.header-container {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../../files/poly.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; }
    #HomeComponent div.header-container .header-content .header-content-inner {
      padding: 0 20px;
      text-align: center; }
      #HomeComponent div.header-container .header-content .header-content-inner div.lead {
        font-size: 1.5rem;
        margin-bottom: 35px; }
        #HomeComponent div.header-container .header-content .header-content-inner div.lead .lead-row {
          margin-bottom: 5px; }
        #HomeComponent div.header-container .header-content .header-content-inner div.lead img {
          height: 1.5em;
          max-width: 2em; }
        #HomeComponent div.header-container .header-content .header-content-inner div.lead .fake-img {
          display: inline-block;
          min-width: 1.5em; }
        #HomeComponent div.header-container .header-content .header-content-inner div.lead a.btn {
          padding-left: 80px;
          padding-right: 80px;
          font-weight: bold;
          border-radius: .9rem;
          float: right;
          clear: both; }
        #HomeComponent div.header-container .header-content .header-content-inner div.lead div.input-label {
          padding: 0 10px;
          min-width: 500px;
          display: inline-block; }
  @media (min-width: 1068px) {
    #HomeComponent div.header-container .header-content {
      width: 100%; }
      #HomeComponent div.header-container .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px; }
        #HomeComponent div.header-container .header-content .header-content-inner h1 {
          font-size: 3rem; }
        #HomeComponent div.header-container .header-content .header-content-inner div.lead {
          font-size: 1.5rem; } }
  #HomeComponent div.featurette {
    padding: 20px 0; }
    #HomeComponent div.featurette#open-data img {
      padding: 5px;
      width: 100%;
      margin-bottom: 25px;
      transition: all .2s ease-in-out; }
      #HomeComponent div.featurette#open-data img:hover {
        transform: scale(1.1); }
    #HomeComponent div.featurette#people img {
      width: inherit;
      margin-bottom: 25px;
      transition: all .2s ease-in-out; }
      #HomeComponent div.featurette#people img:hover {
        transform: scale(1.1); }
  #HomeComponent .featurette-heading {
    font-weight: 200;
    line-height: 1;
    letter-spacing: -.05rem; }
  @media (min-width: 40em) {
    #HomeComponent .featurette-heading {
      font-size: 2.2rem; } }
  #HomeComponent img.inline-logo {
    height: 70px;
    margin-top: -43px; }
  #HomeComponent .home-container {
    background-color: white;
    border-radius: 25px;
    max-width: 1200px;
    padding: 40px; }
  #HomeComponent .block-of-images {
    text-align: center; }
    #HomeComponent .block-of-images img {
      width: 80px;
      margin: 5px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #HomeComponent .block-of-images img:hover {
        transform: scale(1.1); }
  #HomeComponent .block-of-portraits {
    text-align: center; }
    #HomeComponent .block-of-portraits img {
      width: 100px;
      margin: 10px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #HomeComponent .block-of-portraits img:hover {
        transform: scale(1.1); }
  #HomeComponent .react-select {
    display: inline-block;
    font-size: inherit;
    clear: both;
    top: 0;
    color: black;
    cursor: pointer; }
    #HomeComponent .react-select input {
      caret-color: white !important;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Opera/IE 8+ */
      color: white !important;
      padding: 0px; }
    #HomeComponent .react-select .Select-input {
      background-color: transparent !important; }
    #HomeComponent .react-select .Select-control {
      border-bottom: 2px solid white !important; }
    #HomeComponent .react-select.is-focused .Select-control {
      background-color: transparent !important;
      border: none !important;
      border-bottom: 2px solid white !important; }
      #HomeComponent .react-select.is-focused .Select-control .Select-placeholder {
        color: transparent;
        cursor: pointer !important; }
    #HomeComponent .react-select.is-open .Select-control {
      background-color: transparent !important;
      border: none !important;
      border-bottom: 2px solid white !important; }
    #HomeComponent .react-select.is-open .Select-value-label {
      color: transparent !important; }
    #HomeComponent .react-select .Select-control {
      background-color: transparent;
      box-shadow: none !important;
      color: white;
      border: none;
      border-bottom: 2px solid white !important;
      border-radius: 0; }
      #HomeComponent .react-select .Select-control .Select-value-label {
        color: white !important; }
    #HomeComponent .react-select .Select-placeholder {
      color: white;
      cursor: pointer !important; }
    #HomeComponent .react-select .Select-menu {
      max-height: 150px !important; }
  #HomeComponent div.find-suburbs-btn-container {
    text-align: center; }
  #HomeComponent .btn-find-suburbs {
    padding: 5px 90px; }
  #HomeComponent .btn-clear {
    padding: 5px 10px; }
  #HomeComponent .nooky {
    font-size: 150%;
    line-height: 100%;
    margin-bottom: 50px; }
    #HomeComponent .nooky .nooky-label-container {
      padding: 0 10px;
      display: inline-block;
      text-align: center;
      position: relative; }
      #HomeComponent .nooky .nooky-label-container .nooky-label {
        position: absolute;
        bottom: 0;
        height: 36px;
        padding: 8px 5px;
        left: 0; }
