div.header-container {
  display: block;
  position: relative;
  width: 100%;
  min-height: 500px;
  text-align: left;
  color: #fff;
  padding-top: 80px;
  background-image: url(../../files/poly.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 50px; }
  div.header-container .header-content .header-content-inner {
    padding: 0 20px; }
    div.header-container .header-content .header-content-inner div.lead .lead-row {
      margin-bottom: 5px; }
    div.header-container .header-content .header-content-inner div.lead img {
      height: 1.5em;
      max-width: 2em; }
    div.header-container .header-content .header-content-inner div.lead .fake-img {
      display: inline-block;
      min-width: 1.5em; }
    div.header-container .header-content .header-content-inner div.lead a.btn {
      padding-left: 80px;
      padding-right: 80px;
      font-weight: bold;
      border-radius: .9rem;
      float: right;
      clear: both; }
    div.header-container .header-content .header-content-inner div.lead div.input-label {
      padding: 0 10px;
      min-width: 500px;
      display: inline-block; }

@media (min-width: 1068px) {
  div.header-container .header-content {
    width: 100%;
    padding-bottom: 50px; }
    div.header-container .header-content .header-content-inner {
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px; }
      div.header-container .header-content .header-content-inner h1 {
        font-size: 3rem; }
      div.header-container .header-content .header-content-inner div.lead {
        font-size: 1.5rem; } }

div.featurette {
  padding: 20px 0; }
  div.featurette#open-data img {
    padding: 5px;
    width: 100%;
    margin-bottom: 25px;
    transition: all .2s ease-in-out; }
    div.featurette#open-data img:hover {
      transform: scale(1.1); }
  div.featurette#people img {
    width: inherit;
    margin-bottom: 25px;
    transition: all .2s ease-in-out; }
    div.featurette#people img:hover {
      transform: scale(1.1); }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 200;
  line-height: 1;
  letter-spacing: -.05rem; }

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 2.2rem; } }

img.inline-logo {
  height: 70px;
  margin-top: -43px; }

.header-content-inner input {
  border: none;
  color: black; }
  .header-content-inner input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  .header-content-inner input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white; }
  .header-content-inner input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white; }

.before-vicmap {
  position: relative; }

.vicmap {
  background-image: url(../../files/vicmap.svg);
  padding: 35px 0;
  background-size: contain;
  background-repeat: no-repeat; }

.home-container {
  background-color: white;
  border-radius: 25px;
  max-width: 1200px;
  padding: 40px; }

.block-of-images {
  text-align: center; }
  .block-of-images img {
    width: 80px;
    margin: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .block-of-images img:hover {
      transform: scale(1.1); }

.block-of-portraits {
  text-align: center; }
  .block-of-portraits img {
    width: 100px;
    margin: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .block-of-portraits img:hover {
      transform: scale(1.1); }

.react-select {
  display: inline-block;
  font-size: inherit;
  float: right;
  clear: both;
  width: 300px;
  top: 0;
  color: black;
  font-size: 1.2rem;
  margin-bottom: -0.5em; }
  .react-select.is-focused .Select-control .Select-value-label {
    color: black !important; }
  .react-select .Select-control {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer; }
    .react-select .Select-control .Select-value-label {
      color: white !important; }
  .react-select .Select-placeholder {
    color: white; }
  .react-select .Select-menu {
    z-index: 50;
    max-height: 150px; }

.pulsating-circle {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px; }
  .pulsating-circle:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
  .pulsating-circle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }

@keyframes pulse-ring {
  0% {
    transform: scale(0.33); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

div.find-suburbs-btn-container {
  text-align: center; }

.btn-find-suburbs {
  padding: 5px 90px; }

.btn-clear {
  padding: 5px 10px; }
