div.header-container {
  display: block;
  z-index: 10;
  position: relative;
  width: 100%;
  min-height: 500px;
  text-align: left;
  color: #fff;
  padding-top: 80px;
  background-image: url(../../files/poly.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 50px; }
  div.header-container .header-content .header-content-inner {
    padding: 0 20px; }
    div.header-container .header-content .header-content-inner div.lead .lead-row {
      margin-bottom: 5px; }
    div.header-container .header-content .header-content-inner div.lead img {
      height: 1.5em;
      max-width: 2em; }
    div.header-container .header-content .header-content-inner div.lead .fake-img {
      display: inline-block;
      min-width: 1.5em; }
    div.header-container .header-content .header-content-inner div.lead a.btn {
      padding-left: 80px;
      padding-right: 80px;
      font-weight: bold;
      border-radius: .9rem;
      float: right;
      clear: both; }
    div.header-container .header-content .header-content-inner div.lead div.input-label {
      padding: 0 10px;
      min-width: 290px;
      display: inline-block; }

@media (min-width: 1068px) {
  div.header-container .header-content {
    width: 100%;
    z-index: 10;
    padding-bottom: 50px; }
    div.header-container .header-content .header-content-inner {
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px; }
      div.header-container .header-content .header-content-inner h1 {
        font-size: 3rem; }
      div.header-container .header-content .header-content-inner div.lead {
        font-size: 1.5rem; } }

div.featurette {
  padding: 20px 0; }
  div.featurette#open-data img {
    padding: 5px;
    width: 100%;
    margin-bottom: 25px;
    transition: all .2s ease-in-out; }
    div.featurette#open-data img:hover {
      transform: scale(1.1); }
  div.featurette#people img {
    width: inherit;
    margin-bottom: 25px;
    transition: all .2s ease-in-out; }
    div.featurette#people img:hover {
      transform: scale(1.1); }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 200;
  line-height: 1;
  letter-spacing: -.05rem; }

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 2.2rem; } }

img.inline-logo {
  height: 70px;
  margin-top: -43px; }

.header-content-inner input {
  margin: 0 10px;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 3px solid white;
  border-bottom-style: dotted; }
  .header-content-inner input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */ }
  .header-content-inner input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white; }
  .header-content-inner input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white; }

.before-vicmap {
  z-index: 10;
  position: relative; }

.vicmap {
  background-image: url(../../files/vicmap.svg);
  z-index: -1;
  padding: 35px 0;
  background-size: contain;
  background-repeat: no-repeat; }

.home-container {
  margin-top: -40px;
  z-index: 10;
  background-color: white;
  border-radius: 25px;
  max-width: 1200px;
  padding: 40px; }

.block-of-images {
  text-align: center; }
  .block-of-images img {
    width: 120px;
    margin: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .block-of-images img:hover {
      transform: scale(1.1); }

.block-of-portraits {
  text-align: center; }
  .block-of-portraits img {
    width: 100px;
    margin: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .block-of-portraits img:hover {
      transform: scale(1.1); }

.react-select {
  display: inline-block;
  font-size: inherit;
  min-width: 300px;
  top: 0;
  margin-bottom: -0.5em; }
