div.header-container {
  display: block;
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url(../../files/back.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

@media (min-width: 768px) {
  div.header-container {
    min-height: 100vh; }
    div.header-container .header-content {
      width: 100%;
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      div.header-container .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px; }
        div.header-container .header-content .header-content-inner h1 {
          font-size: 4rem; }
        div.header-container .header-content .header-content-inner p.lead {
          font-size: 1.5rem; }
          div.header-container .header-content .header-content-inner p.lead .btn {
            padding-left: 40px;
            padding-right: 40px;
            font-weight: bold;
            border-radius: .9rem; } }

div.featurette {
  padding: 20px 0; }
  div.featurette#open-data img {
    width: inherit;
    padding: 5px;
    width: inherit;
    margin-bottom: 25px;
    transition: all .2s ease-in-out; }
    div.featurette#open-data img:hover {
      transform: scale(1.1); }
  div.featurette#people img {
    width: inherit;
    margin-bottom: 25px;
    transition: all .2s ease-in-out; }
    div.featurette#people img:hover {
      transform: scale(1.1); }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px; } }

img.inline-logo {
  height: 70px;
  margin-top: -43px; }
