div.header-container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    padding-top:80px;
    background-image: url(../../files/back.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    // padding: 70px 10px;

    .header-content{
        padding-top: 80px;
        top: calc(50% - 80px);

        .header-content-inner {
          padding: 0 20px;
        }
    }
}

@media (min-width: 1068px){
  div.header-container {
   .header-content {
      width:100%;
      position: absolute;
      margin-top: 80px;
      top: calc(50% - 80px);
      // padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        h1{
            font-size:3rem;
        }
        p.lead{
          .btn{
              padding-left:40px;
              padding-right:40px;
              font-weight: bold;
              border-radius: .9rem;
          }
          font-size:1.5rem;
        }
      }
    }
  }
}

div.featurette{
    padding: 20px 0;

    &#open-data img{
        padding:5px;
        width:100%;
        margin-bottom:25px;
        transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }

    &#people img{
        width:inherit;
        margin-bottom:25px;
        transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

img.inline-logo{
    height:70px;
    margin-top:-43px;
}

.header-content-inner input {
    margin:0 10px;
    background:transparent;
    border:none;
    color:white;
    border-bottom: 3px solid white;
    border-bottom-style: dotted;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
    }

}

.before-vicmap{
    z-index:10;
    position: relative;
}

.vicmap{
    background-image: url(../../files/vicmap.svg);
    z-index:-1;
    padding:35px 0;
    background-size: contain;
    background-repeat: no-repeat;
}