html{
    height:100%;
}
body {
    color: #5a5a5a;
    font-family: 'PT Sans', sans-serif !important;
    height:100%;
}

nav.navbar{
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0px 0px 20px 20px rgba(255,255,255,0.3);
  font-weight: bold;

  .navbar-nav{
    .nav-item{
      .nav-link {
        color:#002362;
      }
    }
  }

  .navbar-brand img{
    height:50px;
  }
}

header {
    display: block;
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/back.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 768px){
    header {
        min-height: 100%;

       .header-content {
            width:100%;
            position: absolute;
            top: 50%;
            padding: 0 50px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .header-content-inner {
                margin-right: auto;
                margin-left: auto;
                max-width: 1000px;
                h1{
                    font-size:4rem;
                }
                p.lead{
                    .btn{
                        padding-left:40px;
                        padding-right:40px;
                        font-weight: bold;
                        border-radius: .9rem;
                    }
                    font-size:1.5rem;
                }
            }

        }
    }
}

main{
    padding-top:50px;
}

div.featurette{
    padding: 20px 0;

    &#open-data img{
        width:inherit;
        padding:5px;

        width:inherit;
        margin-bottom:25px;
        transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }

    &#people img{
        width:inherit;
        margin-bottom:25px;
        transition: all .2s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    //margin-top: 4rem;
  }
}

img.inline-logo{
    height:70px;
    margin-top:-43px;
}

footer{
    padding-top:40px;
    padding-bottom:20px;
}