nav.navbar {
  background-color: #112660;
  box-shadow: none; }
  nav.navbar .navbar-nav .nav-item .nav-link {
    color: white; }
  nav.navbar .navbar-brand img {
    height: 30px; }

@media (min-width: 1068px) {
  nav.navbar {
    background-color: #112660;
    font-weight: bold;
    height: 80px; } }
